{% assign lang = site.data.lang[page.lang] %}
{% assign other_lang = 'ru' %}
{% assign other_domain = site.domains.ru %}
{% if page.lang == 'ru' %}
    {% assign other_lang = 'en' %}
    {% assign other_domain = site.domains.en %}
{% endif %}
{% assign clean_path = page.url | replace: '/en/', '/' | replace: '/ru/', '/' %}

<div class="container">
    <header id="header">
        <a class="header-brand" href="{{ site.baseurl }}/">
            <img src="/images/gameap_logo.svg" height="32" alt="GameAP">
            <span>Documentation</span>
        </a>
        <nav class="header-nav">
            <a href="http://gameap.com">{{ lang.site }}</a>
            <a href="https://github.com/gameap">GitHub</a>
            <a href="{{ other_domain }}{{ clean_path }}" class="lang-switch">
                {% if page.lang == 'en' %}RU{% else %}EN{% endif %}
            </a>
        </nav>
    </header>
</div>
