<div class="container">
    <div class="row">
        <div id="header">
            <div class="col-md-12 col-lg-6">
                <a class="naw-brand" href="{{ site.baseurl }}/">
                    <img src="/images/gameap.png" width="32" class="mr-2" alt="GameAP">
                    {{ site.title }}
                </a>
                {% if site.subtitle %}<small>{{ site.subtitle }}</small>{% endif %}
            </div>
            <div class="col-md-12 col-lg-6">
                <a href="http://gameap.ru">{{ lang.site }}</a> | 
                <a href="http://forum.gameap.ru">{{ lang.forum }}</a> | 
                <a href="https://github.com/et-nik/GameAP">{{ lang.on_github }}</a> | 
                <a href="https://github.com/GameAP/gameap.github.io/blob/master/{{ page.path }}">{{ lang.edit_page }}</a>
            </div>
        </div>
    </div>
</div>
