{% assign lang = site.data.lang[page.lang] %}
{% assign lang_dir =  %}
{% assign lang_dir = '/' | append: page.lang | append: '/' %}

<ul class="nav flex-column">
    <li lass="nav-item" ><a class="nav-link" href="{{ site.baseurl }}{{ lang_dir }}">{{ lang.docs }}</a></li>

    {% for section in site.sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}

        {% for page in site.categories[attr] %}
            {% if forloop.first %}
                <li class="nav-item nav-header">{{ label }}</li>
            {% endif %}
                <li class="nav-item" data-order="{{ page.order }}"><a class="nav-link" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    {% endfor %}
    
    {% assign cats = site.pages | where:"lang",page.lang | sort: 'order' | group_by: 'category' %}
    {% for cat in cats %}
        <li>{{ cat.name }}</li>
        {% assign items = cat.items | sort: 'order' %}
        {% for fpage in items %}
            {% if fpage.dir == lang_dir and fpage.url != lang_dir %}
                {% if page.url == fpage.url%}
                    <li class="nav-item active" ><strong><a class="nav-link">{{ fpage.title }}</a></strong></li>
                {% else %}
                    <li class="nav-item" ><a class="nav-link" href="{{ fpage.url }}">{{ fpage.title }}</a></li>
                {% endif %}

            {% endif %}
        {% endfor %}
    {% endfor %}
</ul>