{% assign lang = site.data.lang[page.lang] %}
{% assign lang_dir =  %}
{% assign lang_dir = '/' | append: page.lang | append: '/' %}

<ul class="nav flex-column">
    <li class="nav-item" ><a class="nav-link" href="{{ site.baseurl }}{{ lang_dir }}">{{ lang.docs }}</a></li>

    {% assign cats = site.pages | where:"lang",page.lang | sort: 'order' | group_by: 'category' %}

    {% for cat in cats %}
        {% if cat.name == "" %}
            {% continue %}
        {% endif %}

        <li><b>{{ cat.name }}</b></li>

        {% assign items = cat.items | sort: 'order' %}
        {% for fpage in items %}
            {% if fpage.hidden == true %}
                {% continue %}
            {% endif %}

            {% if page.url == fpage.url %}
                <li class="nav-item active" ><strong><a class="nav-link">{{ fpage.title }}</a></strong></li>
            {% else %}
                <li class="nav-item" ><a class="nav-link" href="{{ fpage.url }}">{{ fpage.title }}</a></li>
            {% endif %}
        {% endfor %}
    {% endfor %}
</ul>
